@import url(./common.css);
@import url(./headerM.css);
$color-bg: #306d8c;
$ticket-red: hsl(355, 63%, 59%);
// Variables
$background-color: Thistle;
$width: 400;
$circle-size: 50;

@keyframes updown {
  0% {
    top: 14%;
  }
  100% {
    top: 15%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  overflow: hidden;
}

main {
  margin-top: 160px;
  display: flex;
  z-index: 1;
  .bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #3fa4d9;
    z-index: 0;
    transition: 0.6s;
    text-align: left;
    .poster2ex {
      right: 8%;
    }
  }

  .bg2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: $color-bg;
    z-index: 0;
    transition: 0.6s;
    text-align: right;
    .posterex {
      left: 8%;
    }
  }

  .poster2ex,
  .posterex {
    opacity: 0;
    width: 45%;
    position: absolute;
    top: 200px;
    color: white;
    z-index: 1;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 100px;
    width: 100%;
  }

  li {
    font-size: 1.5rem;
    margin: 10px 0;
    width: 100%;
  }
}

.popcorn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: -50% bottom;
  height: 300px;
  padding: 20px 0px 0;
  z-index: 5;
  transition: 0.5s;
}

.poster {
  width: 400px;
  height: 600px;
  position: absolute;
  top: 15.5%;
  transition: 0.5s;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.6);
  animation: updown 1.5s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &::before,
  &::after {
    content: "";
    width: 100%;
    left: 0;
    position: absolute;
  }
  &::before {
    height: 4%;
    bottom: -4%;
    background-repeat: no-repeat;
    background-size: 49% 100%;
    background-position: 2% 0, 98% 0;
  }
}

.p1 {
  right: 13vw;
  img {
    width: 380px;
    display: block;
    z-index: 1;
    border: 1px solid rgb(226, 226, 226);
  }
}

.p2 {
  left: 13vw;
  img {
    width: 380px;
    display: block;
    z-index: 1;
    border: 1px solid rgb(147, 147, 147);
  }
}

.clickguide {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 55px;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  p {
    width: 50%;
    text-align: center;
    opacity: 0;
    font-weight: bolder;
    color: white;
    font-size: 24px;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    .poster2ex,
    .posterex {
      opacity: 0;
      width: 48%;
    }

    .bg1 {
      .poster2ex {
        right: 1%;
      }
    }
    .bg2 {
      .posterex {
        left: 1%;
      }
    }

    h2 {
      font-size: 1.8rem;
    }

    li {
      font-size: 1.1rem;
    }
  }

  .popcorn {
    height: 220px;
  }

  .poster {
    width: 32vw;
    height: 45vw;
    min-width: 300px;
    min-height: 440px;
    transform: translateY(40px);
  }

  .p1 {
    right: 7vw;
    img {
      width: 30vw;
      min-width: 280px;
      display: block;
      z-index: 1;
      border: 1px solid rgb(226, 226, 226);
    }
  }

  .p2 {
    left: 7vw;
    img {
      width: 30vw;
      min-width: 290px;
      display: block;
      z-index: 1;
      border: 1px solid rgb(147, 147, 147);
    }
  }
}

@media only screen and (max-width: 768px) {
}
